.header__inner{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
} 

.header__list{
    display: flex;
    gap: 32px;
    font-size: 21px;
}

.header{
    margin-bottom: 104px;
}

@media (max-width: 465px){
    .header__inner ul{
        font-size: 17px;
    }
}

@media (max-width: 375px){
    
}