.contact__inner{
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.contact__text{
    margin-top: 71px;
    display: flex;
    justify-content: space-between;
    max-width: 347px;
    font-size: 32px;
}

.contact__text img{
    display: inline-block;
    width: 24px;
    height: 21px;
}

.contact__info{
    margin-top: 70px;
}

.contact__mail{
    font-size: 32px;
    display: flex;
}

.contact__resume{
    font-size: 18px;
    margin-top: 27px;
    display: inline-block;
}   

@media(max-width: 992px){
    .contact__text{
        font-size: 28px;
    }
    .contact__mail{
        font-size: 28px;
    }
}

@media (max-width: 770px){
    .contact__text {
        display: block;
        font-size: 24px;
      }
      .contact__mail{
        font-size: 24px;
      }
      .footer__inner{
        font-size: 17px;
      }
      .contact__inner{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
      }
      .contact__text img{
        display: block;
        transform: rotate(90deg);
        max-width: 21px;
        margin: 25px auto 0;
      }
}


@media (max-width: 465px){
    .contact__text{
        font-size: 20px;
    }
    .contact__mail{
    font-size: 20px;
}
.contact__resume{
    font-size: 15px;
}
}