.footer__inner{
    margin-top: 152px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}

.footer__akif{
    font-size: 21px;
    color: var(--secondary-);
}

.footer__list{
    display: flex;
    gap: 32px;
}

@media (max-width: 465px){
    .footer__akif{
        font-size: 15px;
    }
    .footer__list{
        font-size: 13px;
    }
}